.contactDetails td{
    padding: 5px;
}

.contactDetails{
    margin: 5px;
    padding: 5px;
}

textarea{
    resize: none;
}

.details{
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 7px;
    background-color: rgba(0,0,0, 0.08);
}