    
    .fixture{
        text-align: center;
        border: 1px solid #616161;
        border-radius: 5px;
        font-size: 11pt;
        font-family: Arial;
        margin-bottom: 10px;
    }
    
    .fixtureTitle{

    }