.newsImage{
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    -webkit-box-shadow: 0 10px 10px -3px black;
    -moz-box-shadow: 0 10 10px -3px black;
    box-shadow: 0 10px 10px -3px black;
    border-radius: 5px;
}

.newsDesc{
    text-align: justify;
}

.article{
    display: block;
}

.articleTitle{
    font-size: 22px;
    font-weight: 700;
}

.editDelete{
    text-align: right;
    margin-bottom: 10px;
}

.pinned-post {
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 7px;
    background-color: rgba(0,0,0, 0.08);
    padding: 0px 20px;
}

.editDelete {
    padding-top: 18px;
}