
/*********************************
 * SITE WIDE STYLES
 *********************************/


/**
 * Main Layout
 */

	@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
	@import url(http://fonts.googleapis.com/css?family=Open+Sans);


body {
	font-size: 14px;
	line-height: 1.5em;
	font-family: 'Open Sans', sans-serif;
	color: #1d1d1d;
	background-color: white;padding-top: 30px;
	padding-bottom: 30px;
	background: url('/img/wallpaper.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header-logo {
	margin-top: -50px;
}

.accessibility{
	position: relative;
	top: 0px;
        color: white;
	font-size: 10.5pt;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
        font-family: Arial;
	clear: both;
        text-shadow: 1px 1px 1px black;
        border-top: 1px solid rgba(0,0,0,0.3);
	background-image: -moz-linear-gradient(rgb(207,11,11), rgb(167,6,6));     
	background-image: -webkit-linear-gradient(rgb(207,11,11), rgb(167,6,6)); 
	background-image: -o-linear-gradient(rgb(207,11,11), rgb(167,6,6));    
	background-image: -ms-linear-gradient(rgb(207,11,11), rgb(167,6,6)); 
	background-image: linear-gradient(rgb(207,11,11), rgb(167,6,6));
}

.accessibility:hover{
	background-image: -moz-linear-gradient(rgb(167,6,6), rgb(207,11,11));     
	background-image: -webkit-linear-gradient(rgb(167,6,6), rgb(207,11,11)); 
	background-image: -o-linear-gradient(rgb(167,6,6), rgb(207,11,11));    
	background-image: -ms-linear-gradient(rgb(167,6,6), rgb(207,11,11)); 
	background-image: linear-gradient(rgb(167,6,6), rgb(207,11,11));
}
#toTopLeft {
	z-index: 100;
	border-radius: 10px;
	padding: 13px 20px;
	bottom:40px;
	left:40px;
	position:fixed;
	cursor:pointer;
	display:none;
	color: white;
	font-size: 20pt;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
        font-family: Arial;
	clear: both;
        text-shadow: 1px 1px 1px black;
        border-top: 1px solid rgba(0,0,0,0.3);
	background-image: -moz-linear-gradient(rgb(207,11,11), rgb(167,6,6));     
	background-image: -webkit-linear-gradient(rgb(207,11,11), rgb(167,6,6)); 
	background-image: -o-linear-gradient(rgb(207,11,11), rgb(167,6,6));    
	background-image: -ms-linear-gradient(rgb(207,11,11), rgb(167,6,6)); 
	background-image: linear-gradient(rgb(207,11,11), rgb(167,6,6));
}

#toTopLeft:hover{
	background-image: -moz-linear-gradient(rgb(167,6,6), rgb(207,11,11));     
	background-image: -webkit-linear-gradient(rgb(167,6,6), rgb(207,11,11)); 
	background-image: -o-linear-gradient(rgb(167,6,6), rgb(207,11,11));    
	background-image: -ms-linear-gradient(rgb(167,6,6), rgb(207,11,11)); 
	background-image: linear-gradient(rgb(167,6,6), rgb(207,11,11));
}
	
.white-background {
	background: #fff;
}

.padded-content {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
}

.footer {
	padding: 20px 20px 10px 20px;
	text-align: center;
	background-color: #5b5b5b;
	color: white;
}

/**
 * Nav Bar
 */

.nav-profile-img {
	position: absolute;
	margin-top: -5px;
	margin-left: -40px;
	width: 30px;
	border: solid 1px white;
	border-radius: 2px;
}

.nav-login {
  max-width: 330px;
  padding: 5px;
  margin: 0 auto;
  text-align: right;
}
.nav-login .nav-login-heading,
.nav-login .checkbox {
  margin-bottom: 10px;
}
.nav-login .checkbox {
  font-weight: normal;
}
.nav-login .nav-login-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: 12px;
}
.nav-login .form-control:focus {
  z-index: 2;
}
.nav-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.nav-login input[type="password"] {
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/**
 * Generic styles
 */

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.five-px-gutter {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.center {
	text-align: center;
}


/**
 * Overrides
 */

.navbar {
	margin-bottom: 0;
	width: 940px;
        margin-bottom: 0px;
	margin-left: -20px;
        padding: 0px;
        color: #cccccc;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	margin-top: 15px;
	position: relative;
        height: 40px;
        font-family: Arial;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	clear: both;
        text-shadow: 1px 1px 1px black;
        border-top: 1px solid rgba(0,0,0,0.3);
	background-image: -moz-linear-gradient(rgb(207,11,11), rgb(167,6,6));     
	background-image: -webkit-linear-gradient(rgb(207,11,11), rgb(167,6,6)); 
	background-image: -o-linear-gradient(rgb(207,11,11), rgb(167,6,6));    
	background-image: -ms-linear-gradient(rgb(207,11,11), rgb(167,6,6)); 
	background-image: linear-gradient(rgb(207,11,11), rgb(167,6,6));
}
.nav a{
	color: white !important;	
}

.navbar-right{
	margin: -1px 20px 0px 0px;
}

.navbar-right:hover{
	background-color: rgba(0,0,0,0.5);
}

.navbar .navbar-nav li:hover{
	background-color: rgba(0,0,0,0.5);
}

.navbar .navbar-nav li{
	margin-top: -1px;
	border-left: 1px solid rgba(0,0,0,0.2);
}

.container {
	padding: 0px;
}

.arrowLeft2, .arrowLeft{
	width: 0; height: 0;
	line-height: 0;
	border-left: 20px solid transparent;
	border-top: 17px solid rgb(94, 4, 4);
	top: 100%;
	left: 0;
	position: absolute;   
}
	
.arrowRight2, .arrowRight {
	width: 0; height: 0;
	line-height: 0;
	border-right: 20px solid transparent;
	border-top: 17px solid rgb(94, 4, 4);
	top: 100%;
	right: 0;
	position: absolute;
}

@media (min-width: 768px) {
	.container {
	max-width: 900px;
	}
}

